h1  {
  text-align: center;
}

#p1turn {
  text-align: center;
}

#p2turn {
  text-align: center;
  display: none;
}

#player1 {
  float: left;

}

#player2 {
  float: right;
}

.container  {
  margin: 50px;
}

#p1-win {
  display: none;
  text-align: center;
}

#p2-win {
  display: none;
  text-align: center;
}

#imgside1 {
  display: none;
  width: 75px;
}

#imgside2 {
  display: none;
  width: 75px;
}

#imgside3 {
  width: 75px;
  display: none;
}

#imgside4 {
  width: 75px;
  display: none;
}

#imgside5 {
  width: 75px;
  display: none;
}

#imgside6 {
  width: 75px;
  display: none;
}